.wrapper {
  display: grid;

  grid-template-rows: 1fr auto;
}

.content {
  background: var(--color-surface);
  border-radius: 0.5rem;
  padding: 5rem;

  margin: 5rem;

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    font-family: var(--font-secondary);
    font-weight: 700;
    margin-block: 1rem;
  }

  & h1 {
    font-size: 4.5rem;
  }

  & h2 {
    font-size: 4rem;
  }

  & h3 {
    font-size: 2.5rem;
  }

  & h4 {
    font-size: 2rem;
  }

  & h5 {
    font-size: 1.5rem;
  }

  & h6 {
    font-size: 1.25rem;
  }

  & p {
    font-family: var(--font-primary);
    margin-block: 1rem;
  }

  & ul {
    margin-block: 1rem;
    padding-inline-start: 1rem;
  }

  & li {
    list-style: disc;
  }

  & pre {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: fit-content;
    margin-block: 1rem;
  }
}

.controls {
  display: grid;
  place-items: center;

  padding: 1rem;
}
